<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Paludismo Angola</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/responsive.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <div class="container">
            <div>
                <img src="" alt="Logo" />
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/malaria">Paludismo</a></li>
                <li><a href="/mort">Mortes</a></li>
                <li><a href="/regist">Registros</a></li>
            </ul>
        </div>
    </header>
    <main>
       <section class="container">
           <img src="./images/1.png" alt="Malária é uma doença infecciosa" />
           <div>
              <h1>A doença causada por parasitas</h1>
              <p>A malária é uma doença infecciosa, causada por parasitas, transmitida por mosquitos.</p> 
              <a href="/anunce">Anunciar</a>
           </div>
       </section> 
    </main>
</body>
</html>